services:
  coding-global-web:
    container_name: coding-global-web
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
      target: prod
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.coding-global-web.rule=Host(`coding.global`) || Host(`www.coding.global`)"
      - "traefik.http.routers.coding-global-web.entrypoints=websecure"
      - "traefik.http.routers.coding-global-web.tls.certresolver=letsencrypt"
      - "traefik.http.routers.coding-global-web.service=coding-global-web"
      - "traefik.http.services.coding-global-web.loadbalancer.server.port=3000"
      # PostHog reverse proxy via Traefik (replaces separate nginx container)
      - "traefik.http.routers.posthog-proxy.rule=Host(`ph.coding.global`)"
      - "traefik.http.routers.posthog-proxy.entrypoints=websecure"
      - "traefik.http.routers.posthog-proxy.tls.certresolver=letsencrypt"
      - "traefik.http.routers.posthog-proxy.service=posthog-ext"
      - "traefik.http.services.posthog-ext.loadbalancer.server.url=https://eu.i.posthog.com"
      - "traefik.http.services.posthog-ext.loadbalancer.passHostHeader=false"
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

  coding-global-web-db:
    container_name: coding-global-web-db
    image: postgres:18-alpine
    restart: always
    networks:
      - proxy
    ports:
      - 5438:5432
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

networks:
  proxy:
    external: false
    name: proxy
