version: "3.8"

services:
  coding-global-web:
    container_name: coding-global-web
    build:
      context: ./
      dockerfile: Dockerfile
      target: prod
      args:
        - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}?schema=public
    restart: always
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.coding-global-web.rule=Host(`coding.global`)"
      - "traefik.http.routers.coding-global-web.entrypoints=websecure"
      - "traefik.http.routers.coding-global-web.tls.certresolver=letsencrypt"
      - "traefik.http.services.coding-global-web.loadbalancer.server.port=3000"
  coding-global-web-db:
    container_name: coding-global-web-db
    image: postgres:latest
    restart: always
    networks:
      - proxy
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

networks:
  proxy:
    external: false
    name: proxy
